html {
    font-size: 16px;
    position: relative;
    min-height: 100%;

    /* @media screen and (max-width: 540px) {
        font-size: 12px;
    } */
    
}

@font-face {
    font-family: 'CastalStreet';
    src: url('../fuentes/CastalStreet/Castal Street Bold.ttf');
}
/*@font-face {
    font-family: 'Saudagar';
    src: url('../fuentes/saudagar/Saudagar.ttf');
}*/


.header {
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#fuenteCastalStreet {
    font-family: 'CastalStreet';
    font-size: 40px;
    clear: both;
    font-family: cursive;
    line-height: 1.5em;
    color: mediumvioletred;
    text-align: center;
    margin-top: 40px;
}
#fuenteCastalStreet20 {
    font-family: 'CastalStreet';
    font-size: 10px;
    clear: both;
    font-family: cursive;
    line-height: 1.5em;
    color: mediumvioletred;
    text-align: center;
}
/*#fuenteSaudagar {
    font-family: 'Saudagar';
    font-size: 18px;
    clear: both;
    font-family: cursive;
    line-height: 1.5em;
    color: mediumvioletred;
    text-align: center;
    margin-top: 40px;
}*/

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/
* {
    margin: 0px;
    padding: 0px;
}
/* body{
    background-image: url(img/Fondo1.jpg);
    background-size:cover;
} */

div#general {
    width:100%;
    height:100%;
    background-color: rgba(254,158,180,0.3);
    position: relative;
    display: inline-block;
    text-align: center;
    object-position: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    object-position: center;
    /* background-color: rgba(254,158,180,0.3); */

}


centrado {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
/*    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.btn-mybtn{
    background-color: white;
    color: mediumvioletred;
    border-radius: 10px;
    border-color: mediumvioletred;
}
.btn-mybtn:hover{
    background-color: mediumvioletred;
    color: white;

}
.contenedor figure{
    position:relative;
    height:250px;
    width:350px;
    margin-left :10px;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:10px;
    overflow:hidden;
    border-radius:6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
    cursor:pointer;
}
    .contenedor figure img {
        width: 100%;
        height: 100%;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px;
        transition: all 500ms ease-out;
    }
    .contenedor figure .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(148, 123, 129, 0.8);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility:hidden;
        text-align:center;
    }
    .contenedor figure:hover > .capa {
        opacity:1;
        visibility:visible;
    }
    .contenedor figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    .contenedor figure:hover > img{
        transform:scale(1.3);
    }
    .contenedor figure .capa h3 {
        font-family: CastalStreet;
        line-height: 2em;
        font-size: 32px;
        margin-bottom: 120px;
        margin-top: 30px;
        transition: all 500ms ease-out;
        color: white;
        font-weight: 400;
    }

    .contenedor figure .capa p {
        font-family: "Segoe UI";
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 120px;
        margin-top: 30px;
        color: white;
        font-weight: 400;
        width:100%;
        max-width:220px;
        margin:auto;
    }

img.izquierda {
    float: left;
}
img.derecha {
    float: right;
}
img {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    object-fit:cover;
    transition:0.5s;

}

img.img-testimonial {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;

}

.contenedor-test{
    width: 80%;
    height: 400px;
    max-width: 400px;
    overflow: hidden;
    margin: auto;
}

.slider-contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

}

.slider-testimonial{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    max-width: 400px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 10px ;
    background-image: url("../img/Fondo1.jpg");
}

.container-logo{
    max-height: 600px;
    min-height: 400px;
    vertical-align: bottom;
}

.container-brand{
    justify-content:center;
    align-items:center;
    display:flex;
    vertical-align: bottom;
}

.container-header{
    justify-content:center;
    align-items:center;
    display:flex;
}

.container-header-text{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    vertical-align: text-bottom;
    display: flex;
    flex-direction: column;
    color: white;
    max-width: 700px;
    min-width: 400px;
    min-height: 400px;
    /* background-image: url("../img/Fondo1.jpg"); */
   
    .mensaje{
        font-size: 3rem;
        font-family: 'Great Vibes', cursive;
    }
    .firma{
        font-size: 1.5rem;
        font-family: 'Great Vibes', cursive;
        color: white;
    }
}


/*.zoom {
    transition: transform .5s;
}

.zoom:hover {
        transform: scale(1.10);
        filter: brightness(60%)
}

.transition {
    -webkit-transform: scale(1.8);
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);
}*/
h1 {
    clear: both;
    font-family: 'CastalStreet';
    line-height: 1.5em;
    color: mediumvioletred;
    text-align: center;
    margin-top: 40px;
    font-size:40px;
    
    
}
p {
    font-family: Candara;
    line-height: 2em;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right:20px;
    position: center;
    vertical-align: middle;

    
}
a {
    font-family: Candara;
    line-height: 2em;
    font-size: 20px;
    position: center;
    vertical-align: middle;

}

figcaption {
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
    right:0px;
    bottom:0px;
    background:rgba(0,0,0,.5);
    text-align: center;
    padding:15px;
}
body{
    /* background-image: url("../img/Fondo1.jpg"); */
    background-size:cover;
}
hr{
    background: white;
}

.readings-form{
    background:rgba(0,0,0, .20);
    color:white;
    margin-top: 10px;

    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}
.contact-form{
    background:rgba(0,0,0, .20);
    color:white;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
}

.bg-animated{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top, #f2a2fa, #97409e);
}
.bubble{
    background: #ffffff;
    opacity: .7;
    border-radius: 50%;
    position: relative;
    bottom: 0;
   
    animation: bubbles 3s linear infinite;
}
.bubble:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration:  3s;
}
.bubble:nth-child(2){
    width: 120px;
    height: 120px;
    left: 50%;
    animation-duration:  10s;
}
.bubble:nth-child(3){
    width: 140px;
    height: 140px;
    left: 20%;
    animation-duration:  5s;
}
.bubble:nth-child(4){
    width: 100px;
    height: 100px;
    left: 80%;
    animation-duration:  4s;
}

@keyframes bubbles {
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        opacity: 0.4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
    
}